<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Ibsa Ejeta Portfolio Page" />
    <meta name="keywords" content="HTML, CSS, JavaScript, NodeJS, mongoDB" />
    <meta name="author" content="Ibsa Ejeta" />
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins:300i,400,700&display=swap"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  </head>

  <body>
    <nav
      class="top-nav navbar navbar-expand-lg navbar-dark fixed-top py-md-4 align-items-end"
    >
      <button
        class="navbar-toggler ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-expanded="false"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse top-nav" id="navbarToggler">
        <ul class="navbar-nav ml-auto" id="menu_buttons">
          <li
            class="nav-item"
            data-toggle="collapse"
            data-target=".navbar-collapse.show"
          >
            <a class="nav-link" href="#home">Home</a>
          </li>
          <li
            class="nav-item"
            data-toggle="collapse"
            data-target=".navbar-collapse.show"
          >
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li
            class="nav-item"
            data-toggle="collapse"
            data-target=".navbar-collapse.show"
          >
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <main>
      <section class="jumbotron home" id="home">
        <div class="introduction-text mx-auto">
          <h1>Ibsa Ejeta</h1>
          <h2>a Web Developer</h2>
          <img
            class="img-ibsa"
            src="https://lh3.googleusercontent.com/sIIU0wzotGRv5ME_C3OCOQm4-yRJAIpJ8x-kA-PDjiER_scUM013mI3GLxODVClTZidnusp64HOcxDaRUe4LBRY0iVj6D82YIaAaT2NSjCCUzpS5OtyCA8RZnc2WFtA0lODF59HN775dAVhB61-vB1pBItXpMJBHYPJlPrHIz4WBapADhFrJz7lcOMLMe4d_0LgTyzFuLxsuvbKTjAeDrf4BPDAKdTJG7r9-wHAMIf5z8dyvxlPeHZVm7QAN50wcqndZ-U9mTAKPTOgjk8cC1yEvRYngUFUxFD50drsic5reqC1Sq8HMzpSP_vJSe1S-pHjcksGl-24UPfOxZT2aci3nQ30jwW5XvtZCAlL88p97thRJU0tYu_gsIIuDggw-EhaFdp9aKfIUyusQ0NV8j02DKZlv-KfARREG_jM0MrwesQ98zvO-kKbY3fIB6UsId8blZ1dEzPNqWKAWJz_ToLqyKKxrnbJniHExZa3zOPox84mxPxVhLUCdRlevpSXmxvLiUYUYyL3EI6AH1E6wusTMQ4JTEt3gesJOUaRV1bKrTME72Pq7tf8voQV0nVlKOcrva7GnNNZYv6NsANnxJcv4NxLHKYI6KNvV-4tKEcjvjogX-K6aFD_nm0h9Bh9fo0DZHPARDYO6iMhX3f_tg4H_5naLaDz8vBymQd3TiTmfl_eOSoXK6GFrFtFK5wv2IgPAfdB4dWWp3m_V_15XMmw5Cf4B7llYt-SwXbmw-UpwA0o=w155-h155-no"
            alt="Ejeta Image"
          />
          <h3>
            I'm a creative full stack web developer, with networking (Cisco)
            background, dedicated to building and optimizing the performance of
            user-centric, high-impact websites.
          </h3>
        </div>
      </section>

      <section id="projects" class="project"></section>

      <section class="contact jumbotron" id="contact">
        <div class="contact-div justify-content-center align-items-end">
          <!--  navbar-expand-lg  -->
          <div class="contact-head">
            <h2 class="">Let's work together...</h2>
            <p class="">
              Available for full-time, part-time and freelance jobs
            </p>
          </div>

          <div class="contact-detail">
            <a
              class="contact-a"
              href="https://github.com/ibsa-ejeta/"
              target="_blank"
              rel="noreferrer"
              ><i class="fab fa-github-square"></i> GitHub Profile</a
            >
            <a
              class="contact-a"
              href="https://www.linkedin.com/in/ibsaejeta/"
              target="_blank"
              rel="noreferrer"
              ><i class="fab fa-linkedin"></i> LinkedIn Profile</a
            >
            <a
              class="contact-a"
              href="mailto:ibsa.ej@gmail.com"
              target="_blank"
              rel="noreferrer"
              ><strong>@</strong> Send an email</a
            >
            <a
              class="contact-a"
              href="tel:1-416-919-3074"
              target="_blank"
              rel="noreferrer"
              ><i class="fas fa-mobile-alt"></i> Call 416-919-3074</a
            >
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="copyRight"></div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="/js/details.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>