body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #eee;
    background-color: #393e46;
  }
  
  .top-nav {
    padding-right: 4rem;
    background-color: #222831;
  }
  .nav-item {
    margin-right: 2rem;
  }
  .navbar-toggler {
    background-color: #222831;
    margin-bottom: 0.5rem;
  }
  
  #menu_buttons > li > a {
    color: #eee;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
  
  #menu_buttons > li > a:hover {
    color: #ccc;
  }
  .home {
    height: 100vh;
    background-color: #393e46;
    padding-top: 10rem;
    border-radius: 0%;
    background-image: -webkit-linear-gradient(-72deg, #393e46 50%, #434953 50%);
  }
  .introduction-text {
    padding-top: 2rem;
    width: 60vw;
  }
  .introduction-text h3,
  h1,
  h2 {
    color: #17a2b8;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
  }
  .introduction-text h1 {
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  
  .card {
    width: 60vw;
    margin: 6rem auto;
    background-color: #222831;
    border-color: #393e46;
    background-color: #434953;
  }
  .card-title {
    color: #eee;
  }
  .card-text {
    color: #eee;
    font-size: 1.2rem;
  }
  .btn-info {
    color: #fff;
  }
  .btn:hover {
    background-color: #17a2b8;
    opacity: 0.8;
  }
  .btn:focus {
    outline: none;
    box-shadow: none;
    background-color: #17a2b8;
  }
  
  .row {
    margin: 0;
  }
  
  .card-img {
    border-radius: 0.1rem;
    border-color: #222831;
    margin: 0rem;
    padding: 0rem;
  }
  
  .img-ibsa {
    padding: 0.4rem;
    margin: 3rem auto;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 50%;
    border-color: #17a2b8;
  }
  .img-a {
    padding: 0rem;
  }
  
  .contact {
    height: 80vh;
    padding-top: 8rem;
    background-color: #222831;
    border-radius: 0%;
    margin-bottom: 3rem;
    background-image: -webkit-linear-gradient(-72deg, #393e46 50%, #434953 50%);
  }
  
  .contact-div {
    margin: 0 auto;
    padding: 0;
    color: #fff;
    font-weight: bold;
  }
  
  .project {
    padding-top: 5rem;
    margin-bottom: 4rem;
    background-color: #393e46;
  }
  
  .contact-head {
    margin-bottom: 5rem;
  }
  .contact-head p,
  h2 {
    font-size: 3rem;
    color: #17a2b8;
    font-weight: normal;
  }
  .contact-detail {
    width: 35vw;
    margin: auto;
  }
  .contact-a {
    display: block;
    text-decoration: none;
    margin: 1.5rem auto;
    color: #17a2b8;
    position: relative;
    font-size: 2rem;
    font-weight: normal;
    top: 0;
    transition: top ease 0.5s;
  }
  .contact-a:hover {
    top: 1rem;
    color: #17a2b8;
    text-decoration: none;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  .copyRight {
    background-color: #222831;
    padding: 1rem 0;
    color: #eee;
    letter-spacing: 0.07rem;
  }
  
  @media only screen and (max-width: 1490px) {
    .card,
    .introduction-text {
      width: 80vw;
    }
    .contact {
      padding-top: 3rem;
      margin-bottom: 0%;
    }
  }
  
  @media only screen and (max-width: 1090px) {
    .introduction-text h3 {
      font-size: 1.5rem;
    }
    .nav-link {
      font-size: 1rem;
    }
    #menu_buttons > li > a {
      text-align: center;
      font-size: 1rem;
      letter-spacing: 0;
    }
    .home {
      padding-top: 3rem;
    }
    .introduction-text {
      padding-top: 6rem;
    }
    .project {
      padding-top: 2.5rem;
    }
    .card,
    .introduction-text {
      width: 80vw;
    }
    .card-text {
      font-size: 1rem;
    }
    .contact {
      padding-top: 6rem;
      margin-bottom: 0%;
      height: 90vh;
    }
    .contact-head p,
    h2 {
      font-size: 2rem;
    }
    .contact-detail {
      width: 80vw;
    }
    .contact-a {
      color: #17a2b8;
      font-size: 1.5rem;
      transition: none;
    }
    .contact-a:hover {
      color: #17a2b8;
      opacity: 0.7;
      transition: none;
      top: 0;
      text-decoration: underline;
    }
  
    .copyRight {
      padding: 1rem 0;
    }
  }