<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Journal" />
    <meta name="keywords" content="HTML, CSS, JavaScript, NodeJS, mongoDB" />
    <meta name="author" content="Ibsa Ejeta" />
    <title>Journal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/blog/css/blogstyles.css" type="text/css" />
  </head>

  <body>
    <nav
      class="top-nav navbar navbar-expand-lg navbar-dark fixed-top py-md-4 align-items-end"
    >
      <a href="" class="navbar-brand" id="brand">JOURNAL</a>
      <button
        class="navbar-toggler ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-expanded="false"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse top-nav" id="navbarToggler">
        <ul class="navbar-nav ml-auto" id="menu_buttons">
          <li
            class="nav-item"
            data-toggle="collapse"
            data-target=".navbar-collapse.show"
          >
            <a class="nav-link" href="/blog">HOME</a>
          </li>
          <li
            class="nav-item"
            data-toggle="collapse"
            data-target=".navbar-collapse.show"
          >
            <a class="nav-link" href="compose">COMPOSE</a>
          </li>
          <li
            class="nav-item"
            data-toggle="collapse"
            data-target=".navbar-collapse.show"
          >
            <a class="nav-link" href="about">ABOUT</a>
          </li>
      
        </ul>
      </div>
    </nav>
    <main>
      <section class="container">

